extends ./admin

block main
  table(lay-data="{ url:'/user/comment1s', page:true, id:'idTest'}", lay-filter="demo").layui-table
    thead
      tr
        th(lay-data="{field:'title', align:'center', templet: res => res.text.title}") 被评文章
        th(lay-data="{field:'content', align:'center'}") 评论内容
        th(lay-data="{field:'created', align:'center', templet: res => (new Date(res.created)).toLocaleString()}") 评论时间
        th(lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#barDemo'}") 操作
  script(type="text/html")#barDemo
    a(lay-event="del").layui-btn.layui-btn-danger.layui-btn-xs 删除


  script.
    layui.use(['table', 'layer'], function(){
      const table = layui.table
      const layer = layui.layer
      const $ = layui.$
      
      table.on("tool(demo)", (obj) => {
        const data = obj.data
        // 评论id
        const comment1Id = data._id


        if(obj.event !== "del") return

        layer.confirm("确认删除？", () => {
          $.ajax({
            method: "delete",
            url: "/comment1/" + comment1Id,
            data: {
              // 发送文章id值，减少后台查询
              comment1Id
            },
            success(res){
              if(res.state){
                layer.msg(res.message, {
                  anim: 1,
                  time: 800
                }, () => location.reload())
              }else{
                console.error(res.message)
              }
            }
          })
        })
      })
    })
