.banner
  .cont.w1000
    .title
      h3 BIG<br />BAO
      h4 well-balanced heart
    .amount
      p
        span.text 留言
        span.access= messageNum ? messageNum : 0
      p
        span.text 日志
        span.access= number ? number : 0