.header
  .menu-btn
    .menu
  h1.logo
    a(href="/")
      img(src="/img/logo.png")
  .nav
    a.menuNav(href="/") 主页
    a.menuNav(href="/journal") 日志
    a.menuNav(href="/message") 留言
    a.menuNav(href="/album") 相册
    a.menuNav(href="/about") 关于
  ul.layui-nav.header-down-nav
    li.layui-nav-item
      a.active.menuNav(href="/") 主页
    li.layui-nav-item
      a.menuNav(href="/journal") 日志
    li.layui-nav-item
      a.menuNav(href="/message") 留言
    li.layui-nav-item
      a.menuNav(href="../album") 相册
    li.layui-nav-item
      a.menuNav(href="../about") 关于
  ul.welcome-text
    if session && !session.isNew
      li.layui-nav-item
        a(href=session.role > 1 ? "/admin/user": "/admin/article") 个人中心
          //- span.layui-badge-dot
      li.layui-nav-item
        a(href="")
          //- 用户测试头像
          img(src=session.avatar).layui-nav-img
          span= session.username
        dl.layui-nav-down
          dd
            a(href="/user/changePsd") 密码修改
          dd
            a(href="/user/logout") 退出登录
    else
      li.layui-nav-item
        a(href="/user/login") 登录
      li.layui-nav-item
        a(href="/user/reg") 注册