#demo(style="text-align: center;")
  .layui-box.layui-laypage.layui-laypage-default#layui-laypage-1
    a.layui-laypage-prev.layui-disabled(href="javascript:;", data-page="0") 上一页
    span.layui-laypage-curr
      em.layui-laypage-em
      em 1
    a(href="javascript:;", data-page="2") 2
    a(href="javascript:;", data-page="3") 3
    a(href="javascript:;", data-page="4") 4
    a(href="javascript:;", data-page="5") 5
    span.layui-laypage-spr …
    a.layui-laypage-last(href="javascript:;",title="尾页", data-page="7") 7
    a.layui-laypage-next(href="javascript:;", data-page="2") 下一页