.blog-panel
  .layui-container
    ul.layui-clear      
      li
        a(href="/journal") 全部     
      li
        a(href="/journal/html") HTML
      li
        a(href="/journal/css") CSS
      li
        a(href="/journal/javascript") JavaScript
      li
        a(href="/journal/nodejs") node.js
      li
        a(href="/journal/vue") vue.js
      li
        a(href="/journal/react") react.js
      li
        a(href="/journal/angular") angular.js
      
      
    .blog-column-right
      a(href="/journal/article").layui-btn.layui-bg-blue 添加日志