extends ./layout/layout
//- 
  artList
    头像
    tips
    文章url
    作者
    时间
    评论数

block contents
  include ./layout/tag

  .layui-container.main
    .layui-row.layui-col-space15
      block main

      
                
      //- 右侧公告
      include ./layout/right_tag
      