.footer-wrap
  .footer.w1000
    .qrcode
      img(src="/img/Wechat.jpg")
    .practice-mode
      img(src="/img/down_img.jpg")
      .text
        h4.title 我的联系方式
        p 微信<span class="WeChat">2689078223</span>
        p 手机<span class="iphone">15996563342</span>
        p 邮箱<span class="email">huangjingyu0922@icloud.com</span>
    #blog-footer
      p 2019 ©
        a(href="") &nbsp;版权&nbsp;
        a(href="") 联系方式：15996563342