.header
  .menu-btn
    .menu
  h1.logo
    a(href="/")
      img(src="/img/logo.png")
  .nav
    a.menuNav(href="/") 主页
    a.menuNav(href="/journal") 日志
    a.menuNav(href="/message") 留言
    a.menuNav(href="/album") 相册
    a.menuNav(href="/about") 关于
  ul.layui-nav.header-down-nav
    li.layui-nav-item
      a.active.menuNav(href="/") 主页
    li.layui-nav-item
      a.menuNav(href="/journal") 日志
    li.layui-nav-item
      a.menuNav(href="/message") 留言
    li.layui-nav-item
      a.menuNav(href="../album") 相册
    li.layui-nav-item
      a.menuNav(href="../about") 关于
  ul.welcome-text


  